header{
	text-align: center;
	margin-top: 50px;
}
.bigcontainer{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.leftcontainer{
	width: 60%;
    padding: 60px 0px;
    background-color: #043E4D;
    color: white;
    padding-left: 150px;
    
}
.rightcontainer{
	width: 40%;
    padding-left: 80px;
    padding-right: 75px;
    padding-bottom: 15px;
}
form{
	height: 235px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 7px silver;
    height: 464px;
    margin-left: 35px;
}
form>a{
	text-align: center;
    background-color: #043E4D;
    border-radius: 50px;
    color: white;
    width: 55%;
    height: 50px;
    text-decoration: none;
    padding: 15px 0;
}
form>a>button{
	background-color: #043E4D;
    color: white;
    border: 0px;
}