.container{
	display: flex;
    flex-direction: column;
    align-items: center;
}
header{
	margin-top: 50px;
	text-align: center;
}
a{
	color: black;
}
.container>div{
	width: 65%;
}
@media only screen and (max-width: 600px)
{
	.container>div{
		width: 100%;
	}
}